<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="org.example"/>



    <!--<context:property-placeholder location="classpath:musicPlayer.properties"/>
   <bean id="Bean"
          class="org.example.Bean">
        <constructor-arg value="Alex"/> задание параметров через конструктор
    </bean>!-->
    <!-- <bean id="musicBean"
          class="org.example.ClassicalMusic"
    init-method="doMyInit"
    destroy-method="doMyDestroy"
    factory-method="getClassicalMusic">  Здесь спринг создает объект не через new , а обращается к фабричному методу

    </bean>-->
    <!--<bean id="MusicPlayer"
          class="org.example.MusicPlayer"
          scope="prototype">
        <property name="music" ref="musicBean"/>
        <property name="name" value="${musicPlayer.name}"/> установка значений
        <property name="volume" value="${musicPlayer.volume}"/>
       <constructor-arg ref="musicBean"/>



    </bean>!-->

</beans>

